#avatar{
    height: 7rem;
    width: 7rem;
    margin: 1rem;
    background-color: rgb(188, 143, 255);
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/static/icons/avatar1.png');
}
#f_status{
    padding: 0.2rem 1rem;
    border-radius: 1.3rem;
    border: solid thin rgba(255, 255, 255, 0.438);
    color:var(--grey);
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none;
}